<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/chath/.m2/repository/io/github/bonigarcia/webdrivermanager/gitAction_demo">
        <classes>
            <class name="org.example.vpntest">
                <methods><include name="testActions2"/></methods>
            </class>
        </classes>
    </test>
</suite>
